<h2>Conditions Dashboard</h2>

<h3>Trips by temperature range(fahrenheit):</h3>
<%= line_chart [
{ name: "Most Rides", data: @max_temp_trips_by_range.map { |t, key| [t, key[0]] }},
{ name: "Least rides", data: @max_temp_trips_by_range.map { |t, key| [t, key[1]] }} ] %>

<h3>Trips by precipitation range(inches):</h3>
<%= line_chart [
{ name: "Most Rides", data: @prec_trips_by_range.map { |t, key| [t, key[0]] }},
{ name: "Least rides", data: @prec_trips_by_range.map { |t, key| [t, key[1]] }} ] %>

<h3>Trips by wind speed range(mph):</h3>
<%= line_chart [
{ name: "Most Rides", data: @wind_trips_by_range.map { |t, key| [t, key[0]] }},
{ name: "Least rides", data: @wind_trips_by_range.map { |t, key| [t, key[1]] }} ] %>

<h3>Trips by visibilty range(miles):</h3>
<%= line_chart [
{ name: "Most Rides", data: @vis_trips_by_range.map { |t, key| [t, key[0]] }},
{ name: "Least rides", data: @vis_trips_by_range.map { |t, key| [t, key[1]] }} ] %>
