<h1> Trips</h1>

<% @trips.each do |trip| %>
  <div class="trip-row row">
    <p><%= trip.name %></p>
    <p><%= trip.start_date %></p>
    <p><%= trip. %></p>
    <p><%= trip.installation_date %></p>
  </div>
<% end %>
