<h2><%= @station.name %></h2>

<p><strong>City:</strong><p>
<p><%= @station.city %></p>
<p><strong>Dock count:</strong><p>
<p><%= @station.dock_count %></p>
<p><strong>Installation date:</strong><p>
<p><%= @station.installation_date.to_s.chomp("00:00:00 UTC") %></p>
