<div class="dashboard-background">
  <h1 class="welcome-heading">Bike Share For All</h1>
</div>
<main>
<h2> About bike share:</h2>
<h4> Experience the Bay in a whole new way</h4>
<h5>Ford GoBike is the Bay Area's new bike share system, with thousands of public bikes for use across San Francisco, East Bay and San Jose. Our bike share is designed with convenience in mind; it’s a fun and affordable way to get around town.</h5>

<div class="row">
  <div class="col-sm-3">
    <h3>Join <i class="fas fa-credit-card"></i></h3>
    <h5>Become an Annual Member or buy a Single Ride or Access Pass to use the system.</h5>
  </div>
  <div class="col-sm-3">
    <h3>Unlock<i class="fas fa-unlock-alt"></i></h3>
    <h5>Use the mobile app or your Clipper card to unlock any bike in the system.</h5>
  </div>
  <div class="col-sm-3">
    <h3>Ride <i class="fas fa-bicycle"></i></h3>
    <h5>Take as many rides as you want while your pass or membership is active.</h5>
  </div>
  <div class="col-sm-3">
    <h3>Return <i class="fas fa-undo"></i></h3>
    <h5>Dock your bike at any station and wait for the green light to make sure it's locked.</h5>
  </div>
</div>
</main>
