@import "shared_values";

main {
  padding-left: 5%;
  padding-right: 5%;
}

a {
  color: none;
}

a:hover {
  color: Gainsboro;
}

body {
  font-family: $primary-font;
}

p {
  margin-bottom: 3px;
}
