@import "shared_values";

.dashboard-active {
  border-bottom: 3px solid $warning-color;
}

.dashboard-filter-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  align-items: baseline;
}

.dashboard-filter-options a {
  color: black;
}

.dashboard-filter-options a:active {
}



.dashboard-heading {
  border-bottom: 3px solid $primary-color;
}

.admin-edit {
  padding-left: 10px;
}

.dashboard-icon {
  padding-right: 15px;
  font-size: 30px;
}

.fa-sun {
  color: gold;
}

.fa-map-marked-alt {
  color: $important-text-color;
}

.fa-building {
  color: $primary-color;
}

.dashboard-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/51/Bike-arc-covered-bike-racks.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-heading {
  color: white;
  font-size: 55px;
  background-color: rgba(122,100,100,.3);
  width: 100%;
  text-align: center;
}
