@import "shared_values";

.table-heading {
  border-bottom: 1px solid $secondary-color;
}

.index-container .section-index-container:nth-of-type(2n) {
  background-color: whitesmoke;
}

.mean-row {
  text-align: center;
}

.table-border {
  border-left: 1px solid $secondary-color;
}
