@import "shared_values";

.icon-column {
  display: flex;
  justify-content: center;
}

.station-row {
  display: flex;
  align-items: center;
}

.table-heading {
  border-bottom: 1px solid $secondary-color;
}

.index-container .section-index-container:nth-of-type(2n) {
  background-color: whitesmoke;
}

.mean-row {
  text-align: center;
}

.table-border {
  border-left: 1px solid $secondary-color;
}
